body {
  font-family: $main-font;
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $dark-grey;
}

header {
  nav.navbar.navbar-default {
    background-color: $dark-grey;

    .navbar-brand {
      padding: 3px 8px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 50px;
        background-image: url('../images/layout/ramp-nav.gif');
      }

      &, &:hover, &:visited, &:active {
        background-color: $yellow;
        color: $dark-grey;
        text-decoration: none;
      }

      .name {
        display: inline-block;
        transition: all 0.3s ease-in
      }

      &:hover {
        .name {
          transform: scale(1.1,1.1);
        }
      }

      img {
        display: inline-block;
        border: 2px solid $light-grey;
        margin-right: 10px;
      }
    }

    .navbar-nav li a {
      &, &:hover, &:visited, &:active {
        color: $light-grey;
        font-weight: 300;
        display: inline-block;
        transition: all 0.3s ease-in

      }

      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}

.skill{
  font-weight: 100;
  font-size: 30px;
  color: $dark-grey;
}

#skills ul{
  list-style-type: none;
  padding: 0;
}

.rating{
  display: block;
  float: right;
  .fill{
    color: #CAA617;
    vertical-align: middle;
  }
}

#project .hidden-xs{
  font-size: 10px;
}

// .row {
//   margin-right: -47px;
//   margin-left: -81px;
// }

.about-paragraph{
  font-size: 20px;
}

footer {
  background-color: $dark-grey;
  color: $light-grey;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#intro{
  font-size: 1.5em;
  font-weight: 100;
}
#imp{
  font-weight: 400;
}

#calci{
  float: left;
}