.contact{
  font-family: 'Tangerine', serif;
  font-size:54px;
  text-shadow : 4px 4px 4px #aaa;
  font-weight: 500;
}
.contact-paragraph{
 font-family: 'Tangerine', serif;
 font-size: 40px;
 text-shadow : 4px 4px 4px #aaa;
}